<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163897983092-bavb3d0odu8ffgte8np1dol4pvuraon9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163897983092-bavb3d0odu8ffgte8np1dol4pvuraon9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>163897983092-r6eg6lb0oa8vbc1vjf71nke9qpul9url.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCFrRTqGwozVLAA7naOJ36mEJJx5vNL0FM</string>
	<key>GCM_SENDER_ID</key>
	<string>163897983092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterShopCpt21</string>
	<key>PROJECT_ID</key>
	<string>shopapp-cpt21</string>
	<key>STORAGE_BUCKET</key>
	<string>shopapp-cpt21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163897983092:ios:35f2b2a75e0576bb0f5121</string>
</dict>
</plist>